
body {
    font-family: 'Roboto', sans-serif; /*Tipo de fuente*/
    margin: 0rem 15rem 0rem 15rem; /*Margen Arriba, Derecha, Abajo, Izquierda*/
    background-repeat: no-repeat; /*No se repetira el fondo*/
    background-size: cover; /* El fondo se representa al tamaño de la zona de posicionamiento de fondo*/
    background-position: left 25% top 30%; /*Como va a estar posicionado el fondo*/
}

.header-container {
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 49, 49);
    margin: 0 0 0 0;
    padding: 1rem;
    justify-content: space-around; /*Distribuir el espacio entre items flex*/
}


/*Titulo cabezera*/
#header-title {
    color: rgb(255, 255, 255); 
}

/*Icono usuario*/
#user-icon {
    margin: 1rem; /*Margen en todas las direcciones*/
}

/*Icono carro*/
#shop-icon {
    margin: 1rem; /*Margen todas las direcciones*/
}

/*Contenedor de busqueda*/
.search-container {
    padding: 0rem 4rem;
    display: flex;
}

/*Barra busqueda*/
#search-bar {
    margin: 1rem 0rem;

    padding: 0rem 10rem;

}

/*Icono buscar*/
#search-icon {
    margin: 1rem;


}

.nav-container {
    border-color: rgb(49, 49, 49);
    border-style: solid;
    margin: 0rem 0rem 1rem 0rem;
}

.a-container {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    
}

.a-container a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;

}

/*Propiedades de a container con hover*/
.a-container a:hover {
    background-color: rgb(49, 49, 49);
    color: white;
}

.main-container {
    display: flex;
    margin: 5rem 0rem;
    justify-content: space-around;
}

.main-content-title-container{
    display: flex;
    align-items: center;
}

.main-resume-container {
    margin: 3rem;
    display: flex;
}

/*texto principal*/
.main-text-container {
    margin: 0rem 2rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

.main-category-container {
    margin: 2rem 0rem 2rem 0rem;
    justify-content: space-around;
}

.main-category-container:hover img {
    justify-content: space-around;
    filter: grayscale(0%);


}

.category-container {
    display: flex;
    margin: 2rem 0rem;
}

.category-services-type-container{
    text-align: center;
    border-style:solid;
    border-color: rgb(49, 49, 49);
    padding: 4rem 4rem ;
    margin: 1rem 0rem;
    color: white;

}

.img-services {
    position: relative;
    filter: grayscale(100%);
    transition: .5s ease-in-out; /*Los cambios a blanco negro se hacen en intervalo de 5 segs*/
}


.category-services-text-container {
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
    color: white;
}


.footer-container {
    background-color: rgb(49, 49, 49);
    padding: 1rem ;
    display: flex;
    justify-content: space-around;
    color: white;
}

.footer-container  a {
    color: white;
    display: flex;
    margin: 1rem;
    text-decoration: none;
}