
body {
    font-family: 'Roboto', sans-serif; /*Tipo fuente*/
    margin: 0rem 15rem 0rem 15rem; /*Margen arriba Derecha Abajo izquierda*/
    background-repeat: no-repeat; /*No se repetira el fondo*/
    background-size: cover; /* El fondo se representa al tamaño de la zona de posicionamiento de fondo*/
    background-position: left 25% top 30%;  /*Como va a estar posicionado el fondo*/
}

.header-container {
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 49, 49);
    margin: 0 0 0 0;
    padding: 1rem;
    justify-content: space-around; /*Distribuir el espacio entre items flex*/
}



#header-title {
    color: rgb(255, 255, 255);
}


/*Icono usuario*/
#user-icon {
    margin: 1rem;
}
/*Icono carro*/
#shop-icon {
    margin: 1rem;
}
/*Contenedor busqueda*/
.search-container {
    padding: 0rem 4rem;
    display: flex;
}

/*Barra busqueda*/
#search-bar {
    margin: 1rem 0rem;

    padding: 0rem 10rem;

}

/*Icono busqueda*/
#search-icon {
    margin: 1rem;


}

.nav-container {
    border-color: rgb(49, 49, 49);
    border-style: solid;
    margin: 0rem 0rem 1rem 0rem;
}

.a-container {
    display: flex;
    justify-content: space-evenly; /*mismo espacio al inicio y al final que en el medio de los elementos.*/
    background-color: black;
    
}

.a-container a {
    font-size: 1.5rem; /*Tamaño fuente*/
    color: rgb(49, 49, 49);
    text-decoration: none; /*Decoracion texto*/
    color: white;

}

/*Hover a container*/
.a-container a:hover {
    background-color: rgb(49, 49, 49);
    color: white;
}

/*Hover we a link*/
#we-a-link:hover {
    background-color: blueviolet;
}


.main-container {
    display: flex;
    margin: 5rem 0rem;
    justify-content: space-around;
}

.main-content-title-container{
    display: flex;
    align-items: center;

}

#Nosotros {
    display: flex;
    flex-direction: row; /*Organizar horizontalmente*/
}




.main-container {
    display: flex;
    margin: 5rem 0rem;
    justify-content: space-around;
}

.main-content-container {
    display: block;

}
.main-content-container h1 {
    text-align: center;
}
.main-content-container a {
    text-align: center;
    color: rgb(0, 0, 0);
}


.main-content-text-containe {
    text-align: center;
    color: white;
}

.nostro{
    color: white;
}



.footer-container {
    background-color: rgb(49, 49, 49);
    padding: 1rem ;
    display: flex;
    justify-content: space-around;
    color: white;
}

.footer-container  a {
    color: white;
    display: flex;
    margin: 1rem;
    text-decoration: none;
}