



.productos {

    padding: 1rem 1rem;
    background-color: rgb(155, 155, 155);
    
}

.producto {
    display: flex;
    margin: 1rem 1rem;
    border-color: black;
    background-color: rgb(217, 255, 168);
}

.imagen-contenedor {
    width: 30%;
}

.imagen-producto {
    width: 10rem;
}

.product-text {
    width: 70%;
    display: flex;
    align-items: center;
    color: black;
    margin: 2rem 0rem;
}