* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #DAE2DF;

}


.mainContainer {

    position: relative;
}

.mainContainer img {
    max-width: 100%;
    display: block;
}
.mainText {
    position: absolute;
    height: 45%;
    width: 35%;
    top: 20rem;
    right: 20rem;
    border-radius: 10px;
    background-color:#1E2019;

}

.mainText h5 {
    margin: 40px 20% 0px 5%;
    color: #548C2F ;
}

.mainText h1 {
    margin: 10px 20% 40px 5%;
    color: #548C2F;
    font-weight: 900;
    font-size: 3rem;


}

.mainText  p {
    margin: 0px 20% 0px 5%;
    color: white;

}

.mainText button {
    margin: 25px 80% 0px 5%;
    width: 14rem;
    height: 4rem;
    border-style: none;
    background-color: white;
    color:black ;
    font-weight: 900;
}


.mainContainer img {
    width: 100%;
}


.mainCatalogue {
    margin: 0rem 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mainCatalogue h2 {
    font-weight: 900;
    font-size: 2rem;

}

.mainCatalogueImages {
    display: flex;
    text-align: center;
    margin: auto;
    
}

.mainCatalogueImages img {
    margin: 10px;
    width: 500px;

    height: 400px;
    
}

.mainCatalogueImagesProduct {
    margin: 0px 1rem;

}





.mainProducts {
    text-align: center;

}

.mainGalery {
    display: flex;
    justify-content: center;
    

}

.mainProduct {
    margin: 10px 20px;
    background-color: #1E2019;
    border-radius: 10px;
}

.mainProduct h2 {
    font-weight: 900;
    font-size: 2rem;
}

.mainProduct img{
    width: 300px;
}



.mainProductText h4 {
    color: #548C2F;
}

.text {
    color: #DAE2DF;
}

.price {
    color: #DAE2DF;
}
.past-price {
    text-decoration:line-through;
}



.footer {
    display: flex;
    background-color: rgb(185, 185, 243);
    justify-content:space-around;


}

.footerText {
    display: flex;
    flex-direction: column;
    margin: 10px;
    display: flex;
}

.footerText a{
    text-decoration: none;
    color: black;
    margin: 20px  0px;

}



body {
    font-family: 'Roboto', sans-serif; /*Tipo de fuente*/
    margin: 0rem 15rem 0rem 15rem; /*Margen Arriba, Derecha, Abajo, Izquierda*/
    background-repeat: no-repeat; /*No se repetira el fondo*/
    background-size: cover; /* El fondo se representa al tamaño de la zona de posicionamiento de fondo*/
    background-position: left 25% top 30%; /*Como va a estar posicionado el fondo*/
}

.header-container {
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 49, 49);
    margin: 0 0 0 0;
    padding: 1rem;
    justify-content: space-around; /*Distribuir el espacio entre items flex*/
}


/*Titulo cabezera*/
#header-title {
    color: rgb(255, 255, 255); 
}

/*Icono usuario*/
#user-icon {
    margin: 1rem; /*Margen en todas las direcciones*/
}

/*Icono carro*/
#shop-icon {
    margin: 1rem; /*Margen todas las direcciones*/
}

/*Contenedor de busqueda*/
.search-container {
    padding: 0rem 4rem;
    display: flex;
}

/*Barra busqueda*/
#search-bar {
    margin: 1rem 0rem;

    padding: 0rem 10rem;

}

/*Icono buscar*/
#search-icon {
    margin: 1rem;


}

.nav-container {
    border-color: rgb(49, 49, 49);
    border-style: solid;
    margin: 0rem 0rem 1rem 0rem;
}

.a-container {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    
}

.a-container a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;

}

/*Propiedades de a container con hover*/
.a-container a:hover {
    background-color: rgb(49, 49, 49);
    color: white;
}

