
body {
    font-family: 'Roboto', sans-serif;
    margin: 0rem 15rem 0rem 15rem;
    background-repeat: no-repeat; /*Para que el fondo no salga repetido*/
    background-size: cover; /* El fondo se representa al tamaño de la zona de posicionamiento de fondo*/
    background-position: left 25% top 30%; /*Como va a estar posicionado el fondo*/
    
}

.header-container {
    display: flex; /*Flex para que sea mas facil el acomodar*/
    color: rgb(255, 255, 255); /*Color de las letras*/
    background-color: rgb(49, 49, 49); /*Color de fondo*/
    margin: 0 0 0 0;
    padding: 1rem; /*cantidad de espacio entre el borde y el contenido del elemento*/
    justify-content: space-around; /*Distribuir el espacio entre items flex*/
}



#header-title {
    color: rgb(255, 255, 255); /*Color del titulo de header*/
}


#user-icon {
    margin: 1rem; /*Margen en todas las direcciones*/
}

#shop-icon {
    margin: 1rem; /*Margen en todas las direcciones*/
}

.search-container {
    display: flex; /*Flex para que sea mas facil el acomodar*/
}

#search-bar {
    margin: 1rem 0rem; /*Margen arriba y derecha*/
    padding: 0rem 3rem; /*Area de relleno Arriba y derecha*/
}

#search-icon {
    margin: 1rem; /*Margen en todas las direcciones*/
}

.nav-container {
    border-color: rgb(49, 49, 49); /*Color de esquinas*/
    border-style: solid; /*estilizar esquinas*/
    margin: 0rem 0rem 1rem 0rem; /*Margen hacia arriba, derecha, abajo, izquierda*/
}

.a-container {
    display: flex; /*Flex para que sea mas facil el acomodar*/
    justify-content: space-evenly;
    background-color: black; /*Color fondo*/
    
}

.a-container a {
    font-size: 1.5rem; /*Tamaño de fuente*/
    text-decoration: none; /*Decoracion de texto*/
    color: white;
}

.a-container a:hover /*Propiedades de hover*/{
    background-color: rgb(49, 49, 49);
    color: white;
}


.main-container {
    display: flex; /*Flex para que sea mas facil el acomodar*/
    margin: 5rem 0rem; /*Margen arriba, derecha*/
    justify-content: space-around;  /*Distribuir el espacio entre items flex*/
}

.main-content-container {
    display: block; /*establece que un elemento ocupará, por defecto, todo el espacio disponible y que el elemento posterior a él se posicionará debajo.*/

}
.main-content-container h1 {
    text-align: center; /*Alinea el texto al centro*/

}

.main-content-text-containe {
    text-align: center; /*Alinea el texto al centro*/
}


.footer-container {
    background-color: rgb(49, 49, 49); /*Color fondo*/ 
    padding: 1rem ; /*Area de relleno en todos los lados*/
    display: flex;  /*Flex para que sea mas facil el acomodar*/
    justify-content: space-around; /*Distribuir el espacio entre items flex*/
    color: white; /*Color de letra*/
}

.footer-container  a {
    color: white; /*Color de letra*/
    display: flex; /*Flex para que sea mas facil el acomodar*/
    margin: 1rem; /*Margen para todos los lados*/
    text-decoration: none;
}

#Productofi {
    display: flex; /*Flex para que sea mas facil el acomodar*/
    flex-direction: row; /*Acomodar de forma horizontal*/
}
