
body {
    font-family: 'Roboto', sans-serif;
    margin: 0rem 15rem 0rem 15rem;
}

.header-container {
    color: rgb(255, 255, 255);
    background-color: rgb(49, 49, 49);
    margin: 0 0 0 0;
    padding: 1rem;
}

#main-title {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.nav-container {
    border-color: rgb(49, 49, 49);
    border-style: solid;
}

.a-container {
    display: flex;
    justify-content: space-evenly;
    
}

.a-container a {
    font-size: 1.5rem;
    color: rgb(49, 49, 49);
    text-decoration: none;
}

.main-resume-container {
    margin: 2rem;
    display: flex;
}

.main-category-container {
    margin: 2rem 0rem 2rem 0rem;
    display: flex;
    justify-content: space-around;
}

.category-container {
    border-style:solid;
    border-color: rgb(49, 49, 49);
    padding: 1rem ;

}